:root {
    --primary-color: #dd9f1b;
    --secondary-color: #333;
    --accent-color: rgb(240, 14, 14);
    --hover-color: #fdfdfd;
    --footer-background: #333;
    --footer-hover-color: #ffcc00;
}

/* Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    max-height: 50%;
    max-width: 50%;
    border-radius: 10px;
}

/* NavBar */
.navbar-top {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-weight: bold;
}

.navbar-top a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.navbar-top a:hover {
    background-color: var(--hover-color);
}

/* Main Content */
main {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.HorizontalPanel {
    background-color: rgba(245, 180, 3, 0.5);
    width: 100%;
    display: flex;
    padding: 2px;
    max-height: 60%;
}

.HorizontalPanel2 {
    background-color: rgba(245, 180, 3, 0.5);
    width: 100%;
    padding: 2px;
    align-items: center;
}

.Izq {
    flex: 1;
    text-align: justify;
}

.Der {
    flex: 1;
}

/* Footer */
.footer {
    background-color: var(--footer-background);
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: var(--footer-hover-color);
}

.footer-info {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-top {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        padding: 10px;
        margin: 5px 0;
    }
}

table {
    background-color: rgba(250, 249, 247, 0.932);
    width: 100%;
    padding: 10px;
    align-items: center;
}

.resultado{
    background-color: rgba(250, 249, 247, 0.932);
    width: 100%;
    padding: 10px;
    align-items: center;
}

.resultadocontent{
    background-color: rgba(250, 249, 247, 0.932);
    width: 100%;
    padding: 10px;
    align-items: center;
}


.ga{
    
   text-align:justify;
    
}
